<!DOCTYPE html>
<head><title>

</title>
<link rel="stylesheet" href="/css/styles.css">
{{!-- <script src="/js/javas.js"></script> --}}
</head>
<body>
    {{>header}}
    {{!-- <h1></h1> --}}
    <p>Hi there, I am from {{place}}</p>
    <p>All this app give is provide real time weather report of provided location.</p>
    <p>It uses data from weatherstack and mapbox api</p>
    {{>footer}}
    {{!-- <h4>{{age}}</h4> --}}
</body>